<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<root>
		<!--sending all logs to all appenders-->
		<level value="ALL" />
		<appender-ref ref="console" />
		<appender-ref ref="MyAppender" />
	</root>
	<!--the console appender-->
	<appender name="console" type="log4net.Appender.ConsoleAppender">
		<!--specifying the displayed layout-->
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %level %logger - %message%newline" />
		</layout>
	</appender>
	<!--the console appender-->
	<appender name="MyAppender" type="Thalus.Ulysses.Log4Net.Extensions.MyAppender">
		<MachineName value="PC1272"/>
		<System value="KA_Test_System"/>
		<Site value="KA"/>
		<ApplicationName value="Log4Net.TestApp"/>
		<ApplicationVersion value="1.0.0"/>
	</appender>
</log4net>